*{
    box-sizing: border-box;
    font-family: "terfens"
}

.footerContainer{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(169, 218, 96);
    height: 230px;
}

.footerList{
    list-style: none;
    text-decoration: none;
}

.list{
    color: black;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    margin-bottom: 0px;
}

.footerList .list:hover{
    color: white;
}

.listTitle{

    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.footerAbout{
    padding-top: 10px;
    width: 15%;
    text-align: center;
}

.footerLogo{
    font-family:fantasy;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.footerLogo:hover{
    transform: scale(1.2);
}

.logoImg{
    height: 50px;
    width: auto;
    padding-top: 5px;    
}

.footerAboutText{
  line-height: 20px;
  transition: all 0.5s ease-in-out;
}

.footerAboutText:hover{
    color:white;
} 

.verticalLine{
    border-left: 2px solid rgb(108, 106, 106);
    height: 120px;
    position: absolute;
    left: 25%;
    margin-left: -4px;
    margin-top: 50px;
}

