.contactSectionWrapper{
    width: 90%;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    display: flex;
    justify-content:space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('src/images/contact-us.png');
}

.contactTitle{
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}


.contactCard{
    padding-top: 40px;
    width: 34%;
    text-align: center;
}
.contactText{
    text-shadow: 2px 2px white;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.contactText:hover{
    font-size: 22px;
}

i{
    height: 20px;
}

.verticalLine1{
    border-left: 2px solid rgb(26, 154, 189);
    height: 100px;
    position: absolute;
    left: 33%;
    margin-top: 50px;
}

.verticalLine2{
    border-left: 2px solid rgb(26, 154, 189);
    height: 100px;
    position: absolute;
    left: 66%;
    margin-top: 50px;
}


