.headerSectionWrapper{
    width: 90%;
    min-height: 500px;
    display: flex; 
    justify-content: left;
    margin: 50px auto 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('src/images//header-section.jpeg');   
}

.headerSectionContentWrapper{
    height: 200px;
    width: 30%;
    margin: 30px 20px 20px 100px;  
    transition: all 0.8s ease-in-out;

}
.headerSectionContent{
    animation: fadeIn 5s;
}

.headerSectionTitle{
    font-size: 40px;
}

/* .headerSectionTitle:hover{
    text-shadow: 1px 1px white;
} */

.glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }



.headerSectionText{
    line-height: 30px;
    animation: fadeIn 6s;
}

.headerSectionWelcome{
    font-size: 15px;
    font-weight: bold;
    color: white
}

.headerSectionButton{

    margin-top: 20px;
}

.headerSectionButton {
    background-color: rgb(245, 177, 51);
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 1s;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}
    
.headerSectionButton:hover{
    background-color: rgb(243, 125, 8);
    text-decoration: underline;
    color:black;
} 

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #faf8f8, 0 0 20px #c2eeb8, 0 0 30px #1ea911, 0 0 40px #44d224, 
                   0 0 50px #114303, 0 0 60px #015001, 0 0 70px #011909;
    }
    to {
      text-shadow: 0 0 20px white, 0 0 30px #f5faec, 0 0 40px #f6f1e0, 0 0 50px #f8f2d4,
                   0 0 60px #f5f3c9, 0 0 70px #f3e9d1, 0 0 80px #f7f5d6;
    }
  }

