.howSectionWrapper{
    width: 90%;
    background-color: rgb(251, 249, 249);
    margin: 0 auto;
}

.hoSection{
    padding-top: 20px; 
    padding-bottom: 30px;
}

.howSectionTitle{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.howSectionTitle h2{
    color: rgb(9, 54, 137)

}

.offeredServicesSectionContent{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 50px;
}

.howCards{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 50px;
    justify-content: space-between;
}

.howCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;   
}

.howCardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.howCardContent p{
    padding: 10px;
}

.howHr{
    width: 40%;
    border-top: 5px orange solid;
    float: right;
}

.circle{

        height: 120px;
        width: 120px;
        background-color: rgb(245, 202, 123);
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        justify-content: center;
        transition: transform 0.3s ease-in-out;        
}

.circle:hover{
    transform: scale(1.1);
    background-color: rgb(245, 177, 51);  
}

.howCardArrow{
    margin-top: 100px;
}

.circleBtn{
    border: none;
    background-color: rgb(251, 249, 249);
    cursor: pointer;
}
