*{
    box-sizing: border-box;
    font-family: "terfens"
}

.customerAccountWrapper{  
    margin-top: 50px;
    min-height: 500px;
}

.customerAccountContent{
    width: 80%;
    margin: auto;
}

.customerBackgroundImage{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('src/images/cleaner-customer-pages.jpeg');
    filter: blur(0px); 
}

.customerAccountTitle{
    background-color: rgba(220, 219, 219, 0.008); 
    /* border: 3px solid rgb(169, 218, 96); */
    border: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2;
    width: 520px;
    /* padding: 20px;  */
    text-align: center;
}

.customerAccountTitle{
    text-align: center;
}

.customerListOfBookings{
    text-align: center;
}

.customerTable {
    width:  100%;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px auto 20px;
    list-style: none;
    font-size: 20px;
}

.customerTable td{
    width: 10%;
    height: 40px;
    border: 1px solid black;
    border-collapse: collapse; 
}

.customerPerformBookingsButton{
    background-color: rgb(245, 177, 51);
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 1s;
    height: 30px;
    border-radius: 10px;
    width: 300px;
}

.customerPerformBookingsButton:hover{
    background-color: rgb(243, 125, 8);
    text-decoration: underline;
    color:black;
}

.customerListOfBookings h3{
    color: orangered;
}
